
<p class="fs-6 pt-3 pb-2 me-3 d-grid col-md-3 offset-md-4 fw-bold" style="text-align:center" >Sign Up and Start Learning!</p>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="field btn-lg d-grid col-md-3 offset-md-4" style="text-align:center">
  <div class="border border-dark border-1 ml-2 mb-2">
    <div class="field ">
<%= f.text_field :name,placeholder: "Name", autofocus: true, autocomplete: "Name",class:"text-decoration-none shadow-none col-md-9 offset-md-0  fs-5"%>
</div>
</div>
<div class="border border-dark border-1 ml-2 mb-2">
    <div class="field ">
<%= f.text_field :phone,placeholder: "Phone", autofocus: true, autocomplete: "Phone",class:"text-decoration-none shadow-none col-md-9 offset-md-0  fs-5"%>
</div>
</div>
<div class="border border-dark border-1 ml-2 mb-2">
<div class="field ">
<%= f.email_field :email,placeholder: "Email", autofocus: true, autocomplete: "email",class:"text-decoration-none shadow-none col-md-9 offset-md-0 fs-5"%>
</div>
</div>
 <% if @minimum_password_length %>
    <em style="color:red; font-size:15px; margin-bottom:5px">(<%= @minimum_password_length %> characters minimum)</em>
    <% end %>
<div class="border border-dark border-1">
    <div class=" field">
    <%= f.password_field :password,placeholder: "Password", autocomplete: "new-password",class:"text-decoration-none shadow-none col-md-9 offset-md-0 fs-5" %> 
    </div>
  </div>
  <div class="border border-dark border-1 mt-2">
    <div class=" field">
    <%= f.password_field :password_confirmation, placeholder:"Confirm Password",autocomplete: "new-password"%>
    </div>
  </div>
<div class="field ">
<%= f.select :role,User.roles.keys,placeholder: "Role", autofocus: true, autocomplete: "Role",class:"text-decoration-none ", style:"width:2rem"%>
</div>
</div>
<div class="btn-lg d-grid col-md-3 offset-md-4">
  <div class="actions " style="text-align:center">
    <%= f.submit "Sign up", class:"btn btn-primary rounded-0 col-md-12 offset-md-0"%>
  </div>
<% end %>

<%= render "devise/shared/links" %>
