<% if user_signed_in? %>
  <% if current_user.role.downcase=="general"%>
    <div style="display:flex;flex-wrap:wrap;">
      <div class="AllPost">
        <% if @posts.size==0 %>
          <h4 style="text-align:center">Add new post <%= link_to "here",new_post_path, style:"text-decoration:none"%></h4>
        <% else %>
          <h1 style="text-align:center">All Posts</h1>
          <ul style="display:flex;">
            <% @posts.each do |post| %>
              <div class="card mb-4" style="width: 18rem;">
              <div class="card-body">
              <h5 class="card-title">Post created by <%= User.find(post.user_id).name %></h5>
              <p class="card-text"><%= post.content %></p>
              </div>
              <% if current_user.id == post.user_id %>
                <%= link_to "Like", post ,style:"text-decoration:none;", class:"btn btn-primary mb-1"%> 
                <%= link_to "Share", root_path ,style:"text-decoration:none;", class:"btn btn-primary mb-1"%> 
                <%= button_to "Delete", post_path(post),method: :delete,style:"text-decoration:none;", class:"btn btn-primary", style:"width:100%"%> 
              <% else %>
                <%= link_to "Like", root_path ,style:"text-decoration:none;", class:"btn btn-primary mb-1"%> 
                <%= link_to "Share", root_path ,style:"text-decoration:none;", class:"btn btn-primary mb-1"%> 
                <%= link_to "Comment", root_path ,style:"text-decoration:none;", class:"btn btn-primary mb-1"%> 
              <% end %> 
            <% end%>
          </ul>
        <% end %>
        
      </div>
      <div class="friendlists" style="margin-left:48rem">  
        <h1 style="text-align:center">Friend List</h1>
        <ul style="display:grid">
          <% @users.each do |user| %>
            <% if ((user.id!=current_user.id) && (User.find(user.id).role.downcase=="general"))%>
              <div class="card mb-4" style="width:15rem;margin-right:0rem;">
                <div class="card-body">
                  <h5 class="card-title" style="text-align:center"><%= user.name %></h5>
                  <% if Friend.exists?(current_user: current_user.id, friend_user: user.id) %>
                    <%= link_to "Already a Friend","",class: "btn btn-primary", style:"width: 100%;"%>
                  <% else %>
                    <% if Requestnotification.exists?(user: current_user.id, friend_user: user.id) %>
                      <%= link_to "Friend Request Sent","pop",class: "btn btn-primary", style:"width: 100%;"%>
                    <% else %>
                      <%= link_to "Add Friend",addfriend_path(user), class: "btn btn-primary", style:"width: 100%;"%>
                    <% end %>
                  <% end %>
                  <p class="card-text"></p>
                </div> 
              </div>
            <% end %>
          <% end %>
        </ul>
      </div>
      <h4 style="text-align:center">Add new post <%= link_to "here",new_post_path, style:"text-decoration:none"%></h4>
    </div>
    <div class="Notification">
      <h1 style="text-align:center">All Notifications</h1>
      <ul style="display:grid;">
        <% if  !Requestnotification.exists?(friend_user: current_user.id) %>
          <h3 style="text-align:center;color:red;margin:3rem">No new notifications</h3>
        <% else %>
          <% Requestnotification.where(friend_user: current_user.id).to_a.each do |friend| %>
            <div class="card mb-4" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title" style="text-align:center"><%= User.find(friend.user).name%> sent you a follow request</h5>
                <p class="card-text"><%= link_to "Accept Request",accept_path(friend.user), class: "btn btn-primary", style:"width: 100%;"%></p>
              </div> 
            </div>
          <% end %>
        <% end %>
      </ul>
    </div>
    <h4 style="text-align:center">
    <%= button_to "Logout", destroy_user_session_path,method: :delete , class:"btn btn-primary btn-lg", style:"width:10rem"%>
    </h4>
  <% else %>
    <% if @users.size==0 %>
      <h4 style="text-align:center; color:red">no user exist</h4>
    <% else %>
      <h1 style="text-align:center">All Users</h1>
      <ul style="display:grid;">
        <% @users.each do |post| %>
          <div class="card-body">
            <h5 class="card-title"><%= post.name %>
              <%= button_to "Destroy", destroy_user_session_path(post), method: :delete, data: { confirm: "You sure?" }, class: "btn btn-primary btn-md" %> 
            </h5>
          </div>
        <% end %>
      </ul>
      <%= button_to "logout", destroy_user_session_url ,method: :delete,class: 'default_btn transp_btn' %>
    <% end %>
  <% end %>  
<% else %>
  <h1 style="text-align:center"><%= link_to "Login", user_session_path, style:"text-decoration:none"%> to see posts</h1>
<% end %>
